/* Imports */
@import url("reset.css");
@import url("global-forms.css");

/* Global */

/* Body */
body {
    background: #F5F4EF url('../images/bg.png');
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(smoke.jpg);
    word-wrap: break-word;
}

h2 {
    font-size: 1.3em;
}

/* HTML5 tags */
header, footer,
aside, nav, article, figure {
    display: block;
}

/*Layout */
.body {clear: both; margin: 0 auto; width: 600px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}


/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #C74350;
    padding: 0 1px;
    text-decoration: underline;
}

a:hover {
    background-color: red;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {margin-bottom: 1.143em; word-wrap: break-word; overflow: hidden;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}


/* Header */
#banner {
    margin: 0 auto;
    padding: 2em 0 0 0;
}

    /* Banner */
    #banner h1 {font-size: 3.571em; line-height: .6; text-align: center; padding: 0 0 0 1.5em; padding-bottom: -1em;}
    #banner h1 a:link, #banner h1 a:visited {
        color: #000305;
        display: block;
        font-weight: bold;
        margin: 0 0 .6em .2em;
        text-decoration: none;
        width: 427px;

    }
    #banner h1 a:hover, #banner h1 a:active {
        background: none;
        color: black;
        text-shadow: none;
    }

    #banner h1 strong {font-size: 0.36em; font-weight: normal; text-align: center;}

/* Main Nav */

#banner nav {
    background: #000305;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 2em auto;
    padding: 0;
    text-align: center;
    width: 513px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#banner nav ul {list-style: none; margin: 0 auto; width: 600px;}
#banner nav li {float: left; display: block; margin: 0;}

#banner nav a:link, #banner nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}
#banner nav #home:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
    background: green;
    color: #fff;
    text-shadow: none !important;
}

#banner nav #create:hover {
    background: orange;
    color: #fff;
    text-shadow: none !important;
}

#banner nav #join:hover {
    background: #003F87;
    color: #fff;
    text-shadow: none !important;
    -webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}

#banner nav #about:hover {
    background: #CD0000;
    color: #fff;
    text-shadow: none !important;
}

#banner nav li:first-child a {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}